﻿@page
@model IndexModel
@{
    ViewData["Title"] = "GoMovies";
}

<!DOCTYPE html>
<html>
<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
    <!--/web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
</head>
<body>
    <!--/main-header-->
    <!--/banner-section-->
    <div id="demo-1" data-zs-src='["images/2.jpg", "images/1.jpg", "images/3.jpg","images/4.jpg"]' data-zs-overlay="dots">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <div class="header-w3-agileits" id="home">
                <div class="inner-header-agile">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a asp-page="Index"><span>G</span>o<span>M</span>ovies</a></h1>
                        </div>
                        <!-- navbar-header -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a asp-page="Index">Home</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <li>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a asp-page="List" asp-route-genre="Action" asp-page-handler="Genre">Action</a></li>
                                                    <li><a asp-page="List" asp-route-genre="Comedy" asp-page-handler="Genre">Comedy</a></li>
                                                    <li><a asp-page="List" asp-route-genre="Horror" asp-page-handler="Genre">Horror</a></li>
                                                    <li><a asp-page="List" asp-route-genre="Fantasy" asp-page-handler="Genre">Fantasy</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Release <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <li>
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <li><a asp-page="List" asp-route-release="2010s" asp-page-handler="Release">2010s</a></li>
                                                    <li><a asp-page="List" asp-route-release="2000s" asp-page-handler="Release">2000s</a></li>
                                                    <li><a asp-page="List" asp-route-release="1990s" asp-page-handler="Release">1990s</a></li>
                                                    <li><a asp-page="List" asp-route-release="1980s" asp-page-handler="Release">1980s</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-toggle="modal" data-target="#myModal7">Add movie</a></li>
                                <li><a data-toggle="modal" data-target="#myModal6">Add director</a></li>
                                <li><a data-toggle="modal" data-target="#myModal8">Add actor</a></li>
                                <li><a asp-page="List">Movie list</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </nav>
                    <div class="w3ls_search">
                        <div class="cd-main-header">
                            <ul class="cd-header-buttons">
                                <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                            </ul>
                        </div>
                        <div id="cd-search" class="cd-search">
                            <form method="get">
                                <div class="searchMV">
                                    <input type="text" placeholder="Search..." name="search" />
                                    <input type="hidden" name="handler" value="Search" />
                                    <input type="submit" asp-page="List" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

            <div class="baner-info">
                <h3>Latest <span>On</span>Line <span>Mo</span>vies</h3>
                <h4>In space no one can hear you scream.</h4>               
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Add Movie</h4>
                    <div class="login-form">
                        <form method="post">
                            <input asp-for="Movie.title" type="text" placeholder="Title" required="">
                            <select asp-for="Movie.genre">
                                <option value="Action">Action</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Horror">Horror</option>
                                <option value="Fantasy">Fantasy</option>
                            </select>
                            <input asp-for="Movie.year" type="number" placeholder="Year" required="">
                            <input asp-for="Actor.name" type="text" placeholder="Main Role" required="">
                            <input asp-for="Director.name" type="text" placeholder="Director" required="">
                            <div class="tp">
                                <input type="submit" asp-page-handler="AddMovie" value="ADD MOVIE">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Add Director</h4>
                    <div class="login-form">
                        <form method="post">
                            <input asp-for="Director.name" type="text" placeholder="Name" required=""/>
                            <input asp-for="Director.born" type="number" placeholder="Birth year" required=""/>
                            <div class="tp">
                                <input type="submit" asp-page-handler="AddDirector" value="ADD DIRECTOR">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal8" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Add Actor</h4>
                    <div class="login-form">
                        <form method="post">
                            <input asp-for="Actor.name" type="text" placeholder="Name" required="">
                            <input asp-for="Actor.born" type="number" placeholder="Birth year" required="">
                            <input asp-for="Actor.birthplace" type="text" placeholder="Birthplace" required="">
                            <div class="tp">
                                <input type="submit" asp-page-handler="AddActor" value="ADD ACTOR">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3_content_agilleinfo_inner">
        <div class="agile_featured_movies">
            <h3 class="agile_w3_title"> Latest <span>Movies</span></h3>
            <div class="w3_agile_latest_movies">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    @foreach (var m in Model.latestMovies)
                    {
                        <div class="item">
                            <div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
                                <a asp-page="Single" asp-route-id="@m.id" class="hvr-sweep-to-bottom">
                                    <img src="images/@(m.title).jpg" title="GoMovies" class="img-responsive" alt=" " />
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a asp-page="Single" asp-route-id="@m.id">@m.title	</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                        <p>@m.year</p>
                                        <div class="block-stars">
                                            <p>Rating: <b>@m.rating.ToString("0.00")</b>/5</p>                                  
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                @{
                                    if (m.year > 2015)
                                        @Html.Raw("<div class=\"ribben one\"><p>NEW</p></div>");
                                }
                            </div>
                        </div>
                    }                 
                </div>
            </div>

            <h3 class="agile_w3_title">Top <span>Movies</span> </h3>

            <div class="wthree_agile-requested-movies">
                @foreach(var m in Model.topMovies)
                { 
                <div class="col-md-2 w3l-movie-gride-agile requested-movies">
                    <a asp-page="Single" asp-route-id="@m.id" class="hvr-sweep-to-bottom">
                        <img src="images/@(m.title).jpg" title="GoMovies" class="img-responsive" alt=" ">
                        <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                        <div class="w3l-movie-text">
                            <h6><a asp-page="Single" asp-route-id="@m.id">@m.title</a></h6>
                        </div>
                        <div class="mid-2 agile_mid_2_home">
                            <p>@m.year</p>
                            <div class="block-stars">
                                <p>Rating: <b>@m.rating.ToString("0.00")</b>/5</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @{
                        if (m.year > 2015)
                            @Html.Raw("<div class=\"ribben one\"><p>NEW</p></div>");
                    }
                </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="contact-w3ls" id="contact">
        <div class="footer-w3lagile-inner">
        </div>
    </div>

    <div class="w3agile_footer_copy">
        <p>© 2021 GoMovies. All rights reserved | Design by Miloš Veljanovski</p>
    </div>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });</script>


    <script type="text/javascript" src="js/jquery.zoomslider.min.js"></script>
    <!-- search-jQuery -->
    <script src="js/main.js"></script>
    <script src="js/simplePlayer.js"></script>
    <script>
        $("document").ready(function () {
            $("#video").simplePlayer();
        });</script>
    <script>
        $("document").ready(function () {
            $("#video1").simplePlayer();
        });</script>
    <script>
        $("document").ready(function () {
            $("#video2").simplePlayer();
        });</script>
    <script>
        $("document").ready(function () {
            $("#video3").simplePlayer();
        });</script>

    <!-- pop-up-box -->
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->

    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });</script>
    <script src="js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });</script>
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: true,
                navigation: true,

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });</script>

    <!--/script-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });</script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                    containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });</script>
    <!--end-smooth-scrolling-->
    <script src="js/bootstrap.js"></script>



</body>
</html>
