﻿@page
@model GoMovies.Pages.SingleModel
@{
    ViewData["Title"] = "Single";
}

<!DOCTYPE html>
<html>
<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
    <!--/web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
</head>
<body>
    <!--/main-header-->
    <!--/banner-section-->
    <div id="demo-1" class="banner-inner">
        <div class="banner-inner-dott">
            <div class="header-w3-agileits" id="home">
                <div class="inner-header-agile part2">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a asp-page="Index"><span>G</span>o<span>M</span>ovies</a></h1>
                        </div>
                        <!-- navbar-header -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a asp-page="Index">Home</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <div class="w3_content_agilleinfo_inner">
        <div class="agile_featured_movies">
            <div class="inner-agile-w3l-part-head">
                <h3 class="w3l-inner-h-title">@Model.Movie.title</h3>
            </div>
            <div class="latest-news-agile-info">
                <div class="col-md-8 latest-news-agile-left-content">
                    <div class="single video_agile_player">

                        <div class="video-grid-single-page-agileits">
                            <div data-video="f2Z65fobH2I" id="video"> <img src="images/@(Model.Movie.title)_Single.jpg" alt="" class="img-responsive" /> </div>
                        </div>
                        <h4>@Model.Movie.title | @Model.Movie.genre | @Model.Movie.year | @Model.Actor.name | @Model.Director.name</h4>
                    </div>
                    <div class="clearfix"> </div>
                    <div>
                        <p>Rating: <b>@Model.Movie.rating.ToString("0.00")</b>/5 (<b>@Model.Movie.votes</b> votes)</p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="deletebutton">
                        <form method="post">
                            <button type="submit" class="btn btn-danger" asp-page-handler="DeleteMovie">Delete</button>
                            <input type="hidden" asp-for="Movie.id" class="form-control" />
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="response">
                        <h4>Comments</h4>
                        @foreach (var c in Model.comments)
                        {
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <h5>@c.user</h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>
                                        @c.text
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                    </div>
                    <div class="all-comments-info">
                        <h5>RATE AND COMMENT</h5>
                        <div class="agile-info-wthree-box">
                            <form method="post">
                                <div class="col-md-6 form-info">
                                    <input asp-for="Comment.user" type="text" placeholder="Your Name" required="">
                                    <select asp-for="NewRating">
                                        <option value="" disabled selected>Select your option</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-info">
                                    <textarea asp-for="Comment.text" placeholder="Message" required=""></textarea>
                                    <input type="submit" asp-page-handler="RateComment" value="SEND">
                                    <input type="hidden" asp-for="Movie.id" class="form-control" />
                                </div>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="contact-w3ls" id="contact">
        <div class="footer-w3lagile-inner">
        </div>
    </div>

    <div class="w3agile_footer_copy">
        <p>© 2021 GoMovies. All rights reserved | Design by Miloš Veljanovski</p>
    </div>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- Dropdown-Menu-JavaScript -->
    <script>
    $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });</script>
    <!-- //Dropdown-Menu-JavaScript -->
    <!-- search-jQuery -->
    <script src="js/main.js"></script>

    <script src="js/simplePlayer.js"></script>
    <script>
    $("document").ready(function () {
            $("#video").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video1").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video2").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video3").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video4").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video5").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video6").simplePlayer();
        });</script>
    <script>
    $("document").ready(function () {
            $("#video6").simplePlayer();
        });</script>

    <!-- pop-up-box -->
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->

    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
    $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });</script>
    <script src="js/easy-responsive-tabs.js"></script>
    <script>
    $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });</script>
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/owl.carousel.js"></script>
    <script>
    $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: true,
                navigation: true,

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });</script>

    <!--/script-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>

    <script type="text/javascript">
    jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });</script>
    <script type="text/javascript">
    $(document).ready(function () {
            /*
            var defaults = {
                    containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });</script>
    <!--end-smooth-scrolling-->
    <script src="js/bootstrap.js"></script>



</body>
</html>